* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #212121;
  color: #ececec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  padding: 8px 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
}

a:hover {
  color: #008170;
  transition-duration: 300ms;
}

main {
  display: flex;
  min-height: 100vh;
}

#content {
  width: 70%;
  padding: 2rem;
}

aside {
  width: 30%;
  background-color: #171717;
  padding: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #171717;
}

footer p {
  font-size: small;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms;
}

.items.active {
  visibility: visible;
  opacity: 1;
}

.items.active .button {
  padding: 1rem 1.5rem;
  background-color: #008170;
  color: #ececec;
  border-radius: 4px;
  font-weight: 600;
  transition-duration: 300ms;
}

.items.active .button:hover {
  background-color: #005a4e;
  color: #ececec;
}

.items h2 {
  font-size: xx-large;
}

.items img {
  position: absolute;
  top: 0;
  z-index: -1;
  max-height: 100%;
  min-width: 100%;
  display: block;
  object-fit: cover;
}

.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  font-size: xx-large;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}

.dropdown {
  position: relative;
}

.dropdown button:hover,
.dropdown button:focus {
  color: #008170;
  transition-duration: 300ms;
}

.dropdown-content {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #212121;
  border-radius: 4px;
  z-index: 1;
  top: 2rem;
  right: 0;
  transition-duration: 300ms;
  padding: 1rem;
  gap: 8px;
  flex-direction: column;
}

.show {
  visibility: visible;
  opacity: 1;
}

/* article */
#content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#content article {
  display: block;
  width: 100%;
}

#content p {
  margin-bottom: 8px;
}

#content article img {
  width: 100%;
  height: 40vh;
  display: block;
  object-fit: cover;
  margin: 8px 0;
}

aside ul li {
  list-style: inside;
}

/* tentang */

#tentang {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tentang section {
  padding: 8px 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tentang section h1 {
  font-size: xx-large;
  text-align: center;
}

#tentang section h1,
#tentang section p {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 8px 1rem;
  }

  header nav ul {
    display: flex;
    gap: 14px;
  }

  main {
    flex-direction: column;
  }

  aside {
    order: -1;
    width: 100%;
    padding: 1rem;
  }

  #content {
    width: 100%;
    padding: 1rem;
  }

  #content {
    width: 100%;
  }

  #tentang section {
    width: 100%;
  }

  aside {
    width: 100%;
  }

  #tentang section {
    width: 100%;
  }
}
